{% load i18n branding %}
<!DOCTYPE html>
<html lang="en" xml:lang="en" class="login-rcue">
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
    <title>{% trans "Login" %} - {% site_branding %}</title>
    {% include "_stylesheets.html" %}
  </head>
  <body id="splash">
    <!--
    <a href="http://www.keedio.com/" id="keedio">
      <img src="/dashboard/static/dashboard/img/logo-white.png" width="360px" height="360px"alt="Keedio" />
    </a>
    -->
    <div class="container">
      <div class="row-fluid">
        <div class="span12">
          <div >
            <!-- <img src="/dashboard/static/dashboard/img/brand.svg"> -->
            <a href="http://www.keedio.com/">
              <img src="/dashboard/static/dashboard/img/logo-white.png" width="120px" height="120px" alt="Keedio" />
              <span class="title-cloud"> &nbsp; Keedio Cloud Infrastructure </span>
            </a>            
          </div><!--/#brand-->
        </div><!--/.span*-->
        {% include 'auth/_login.html' %}
      </div><!--/.row-fluid-->
    </div><!--/.container-->
  </body>
</html>
